body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.intro{
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 50px 0;
    color: darkslategray;
}

.intro .intro__wrapper{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.intro .intro__wrapper .intro__title{
    text-transform: capitalize;
}

.intro .intro__wrapper .intro__subtitle{
    font-size: 16px;
    color:grey;
}

.intro .intro__wrapper .intro__text{
    color:grey;
}


.block{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}

.block .block__info{
    margin: 0 auto;
    text-align: center;
}

.block .block__info .block__info-wrapper{
    padding: 20px;
}

.block .block__info .block__info-wrapper .block__info-thumb{
    width: 100%;
}

.block .block__info .block__info-wrapper .block__info-title{
    display: block;
    font-weight: bold;
    margin: 15px 0;
}


.page{
    width: 100%;
    text-align: center;
    margin: 0 0 50px 0;
}

.page .page__button{
    background-color: rgb(254, 127, 45);
    box-shadow: 0px 2px 5px grey;
    font-weight: bold;
    color: white;
    padding: 20px 35px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    
}

.page .page__button:hover{
    background-color: rgb(35, 61, 77);
    text-shadow: -1px 0px 2px black;
    box-shadow: 0px 5px 10px rgb(51, 51, 51);;
    color: white;
}


.container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content:space-evenly;
}

.container .container__block{
    background-color:rgb(136, 136, 136);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.container .container__block .container__logo{
    text-align: center;
}

.container .container__block .container__logo .container__img{
    width: 50%;
}

.container .container__block .container__text .container__text-counter, 
.container .container__block .container__text .container__text-title{
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-shadow: -1px 0px 2px black;
}




.container .container__block:nth-child(1){
    background-color:rgb(35, 61, 77);
}

.container .container__block:nth-child(2){
    background-color: rgb(254, 127, 45);
}

.container .container__block:nth-child(3){
    background-color: rgb(252, 202, 70);
}

.container .container__block:nth-child(4){
    background-color: rgb(161, 193, 129);
}